com.socrata {
  cetera {
    port = 5704
    graceful-shutdown-time = 60s
  }

  http {
    liveness {
      interval = 10s
      range = 5s
      missable = 5
    }
  }

  log4j {
    rootLogger = [ INFO, stdout ]
    appender {
      stdout.class = org.apache.log4j.ConsoleAppender
      stdout.props {
        layout.class = org.apache.log4j.PatternLayout
        layout.props {
          ConversionPattern = "[%t] [%X{requestId}] %p %c{1} %d %m%n"
        }
      }
    }
  }

  balboa {
    data-directory = {{ METRICS_DIR }}
  }

  elasticsearch {
    es-server = {{ ES_SERVER }}
    es-port = {{ ES_PORT }}
    es-cluster-name = {{ ES_CLUSTER_NAME }}
    min-should-match = {{ MIN_SHOULD_MATCH }}
    title-boost = {{ TITLE_BOOST }}
    function-score-scripts = {{ FUNCTION_SCORE_SCRIPTS }}
  }
}
